.webcamPreview{
    position: relative;
    overflow: hidden;
}
.webcamPreview video{
    width: 550px;
    height: 100%;
    min-height: 310px;
    background: var(--primary-gray-color);
    border-radius: var(--small-border-radius);
}