.settings{
    width: 100%;
    display: flex;
    gap: 8px 0;
    flex-direction: column;
    max-width: 550px;
    color: var(--primary-font-color);
}
.colorSwitcher {
    top: 10px;
    right: 40px;
    z-index: 1;
    position: absolute;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.setting{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 6px 0;
    padding: 15px 20px;
    background: var(--primary-gray-color);
    border-radius: var(--small-border-radius);
}
.setting select{
    border: none;
    width: 100%;
    padding: 5px;
    margin: 5px 0 0 0;
    color: var(--primary-font-color);
    background: var(--tertiary-theme-color);
    border-radius: var(--small-border-radius);
}
.setting input[type="range"]{
    width: 93%;
    appearance: none;
    overflow: hidden;
    padding: 0 10px;
    height: 16px;
    cursor: pointer;
    background-color: var(--secondary-theme-color);
    border-radius: var(--small-border-radius);
    -webkit-appearance: none;
}
datalist{
    width: 100%;
    display: flex;
    font-size: 14px;
    padding: 6px 0;
    justify-content: space-between;
}
datalist option{
    position: relative;
}
datalist option::after{
    top: -7px;
    left: 50%;
    width: 2px;
    height: 8px;
    content: '';
    background-color: var(--secondary-theme-color);
    position: absolute;
    transform: translate(-50%, 0);
}