.calibration{
    top: 0;
    left: 0;
    gap: 15px 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    background: #fff;
    align-items: center;
    flex-direction: column;
    transition-duration: .3s;
    justify-content: center;
    background-color: rgba(var(--primary-theme-color), 0.8);
    color: var(--primary-font-color);
    border-radius: var(--small-border-radius);
}
.calibration.hide{
    top: -100%;
}
.calibration p{
    margin: 0;
    font-size: 14px;
}
.calibration .buttons{
    width: 100%;
    display: flex;
    gap: 0 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.calibration .recalibrate{
    bottom: -40px;
    right: 15px;
    font-size: 12px;
    padding: 6px 12px;
    position: absolute;
}
