:root{
    --primary-theme-color: 242, 242, 242;
    --secondary-theme-color: #c5c5c5;
    --tertiary-theme-color: #cfcfcf;

    --primary-gray-color: #e9e9e9;
    --secondary-gray-color: #f8f8f8;
    --tertiary-gray-color: #f8f8f8;

    --primary-color: #0071ad;
    --primary-color-hover: #00659b;

    --button-disabled-color: #adadad;

    --accept-primary-color: #00ad42;
    --accept-hover-color: #009b3c;
    --decline-primary-color: #e00000;
    --decline-hover-color: #cd0a00;

    --small-border-radius: 8px;
    --medium-border-radius: 12px;
    
    --primary-font-color: #090909;
    --secondary-font-color: #f8f7ff;
    
    --soft-box-shadow: 4px 8px 26px #00000026;
    --high-box-shadow: 6px 12px 16px #0000004f;
}
[data-theme="dark"]{
    --primary-theme-color: 18, 18, 18;
    --secondary-theme-color: #00080d;
    --tertiary-theme-color: #003654;
    
    --primary-gray-color: #161616;
    --secondary-gray-color: #161616;
    --tertiary-gray-color: #0b0b0b;

    --primary-color: #00466b;
    --primary-color-hover: #005e91;

    --button-disabled-color: #2c2c2c;

    --accept-primary-color: #006810;
    --accept-hover-color: #00910f;
    --decline-primary-color: #830000;
    --decline-hover-color: #a30000;
    
    --primary-font-color: #e3f5ff;
    --secondary-font-color: #f8f7ff;
    
    --soft-box-shadow: 4px 8px 26px #4b4b4b26;
}

.container{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: rgb(var(--primary-theme-color));
}
.detection{
    margin: 70px 0;
    max-width: 600px;
    display: flex;
    align-items: center;
    padding: 20px;
    background: var(--tertiary-gray-color);
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--soft-box-shadow);
    border-radius: var(--medium-border-radius);
}

/* BUTTONS */
.default-button{
    font-size: 14px;
    cursor: pointer;
    padding: 9px 20px;
    transition: box-shadow .2s;
    color: var(--secondary-font-color);
    background: var(--primary-color);
    border-radius: var(--small-border-radius);
    border: none;
}
.default-button:not(:disabled):hover{
    box-shadow: 0 0 10px var(--primary-color);
    background: var(--primary-color-hover);
}
.default-button:disabled{
    cursor: default;
    background: var(--button-disabled-color);
}
.default-button.red{
    background: var(--decline-primary-color);
}
.default-button.red:hover{
    box-shadow: 0 0 10px var(--decline-primary-color);
    background: var(--decline-hover-color);
}
.default-button.green{
    background: var(--accept-primary-color);
}
.default-button.green:hover{
    box-shadow: 0 0 10px var(--accept-primary-color);
    background: var(--accept-hover-color);
}