:root{
    --background-lightness: 94%;

    --theme-primary: hsl(0, 0%, 97%);
    --theme-secondary: hsl(0, 0%, 91%);
    --theme-tertiary: hsl(0, 0%, 81%);

    --border-color: #cfcfcf;

    --primary-color: hsl(201, 100%, 34%);
    --primary-color-hover: hsl(201, 100%, 38%);

    --disabled-color: #c7c7c7;

    --accept-primary-color: #00ad42;
    --accept-hover-color: #009b3c;
    --decline-primary-color: #e00000;
    --decline-hover-color: #cd0a00;

    --small-border-radius: 8px;
    --medium-border-radius: 12px;
    
    --font-color: #090909;
    --secondary-font-color: #f8f7ff;
    
    --soft-box-shadow: 4px 8px 26px #00000030;

    --gold-color: #FFD700;
    --silver-color: #C0C0C0;
    --brown-color: #964B00;
}
[data-theme="dark"]{
    --background-lightness: 3%;

    --theme-primary: hsl(0, 0%, 7%);
    --theme-secondary: hsl(0, 0%, 11%);
    --theme-tertiary: hsl(0, 0%, 6%);

     --border-color: #003654;

    --primary-color: #0071ad;

    --disabled-color: #363636;

    --accept-primary-color: #006810;
    --accept-hover-color: #00910f;
    --decline-primary-color: #830000;
    --decline-hover-color: #a30000;
    
    --font-color: #e3f5ff;
    
    /* --soft-box-shadow: none; */
    --soft-box-shadow: 4px 8px 26px #000000;
}

.container{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: hsl(0, 0%, var( --background-lightness));
}
.detection{
    margin: 70px 0;
    max-width: 600px;
    display: flex;
    align-items: center;
    padding: 20px;
    background: var(--theme-primary);
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--soft-box-shadow);
    border-radius: var(--medium-border-radius);
}

/* BUTTONS */
.default-button{
    font-size: 14px;
    cursor: pointer;
    padding: 9px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow .2s;
    color: var(--secondary-font-color);
    background: var(--primary-color);
    border-radius: var(--small-border-radius);
    border: none;
}
.default-button:not(:disabled):hover{
    box-shadow: 0 0 10px var(--primary-color);
    background: var(--primary-color-hover);
}
.default-button:disabled{
    cursor: default;
    background: var(--disabled-color);
}
.default-button.red{
    background: var(--decline-primary-color);
}
.default-button.red:hover{
    box-shadow: 0 0 10px var(--decline-primary-color);
    background: var(--decline-hover-color);
}
.default-button.green{
    background: var(--accept-primary-color);
}
.default-button.green:hover{
    box-shadow: 0 0 10px var(--accept-primary-color);
    background: var(--accept-hover-color);
}

.default-button.collapse{
    padding: 0;
    overflow: hidden;
}
.default-button.collapse svg{
    height: 40px;
    padding: 8px;
    width: 40px;
    fill: #ffffff;
}
.default-button.collapse span{
    max-width: 0;
    overflow: hidden;
    font-size: .95em;
    transition-duration: .2s;
}
.default-button.collapse:hover{
    padding: 0 10px 0 0;
}
.default-button.collapse:hover span{
    max-width: 100px;
}