.notification{
    width: 300px;
    bottom: 15px;
    right: -100%;
    display: flex;
    gap: 3px 0;
    color: var(--primary-font-color);
    flex-direction: column;
    position: fixed;
    padding: 10px 15px;
    box-shadow: var(--soft-box-shadow);
    border: 2px var(--tertiary-theme-color) solid;
    animation: showNotification .3s forwards;
    border-radius: var(--small-border-radius);
    background-color: rgb(var(--primary-theme-color));
}
@keyframes showNotification{
    from{right: -100%;}
    to{right: 20px;}
}
.notification .close{
    top: 5px;
    right: 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: none;
    position: absolute;
}
.notification .close svg{
    fill: var(--primary-font-color);
}
.notification .title{
    width: 100%;
    font-weight: bold;
    text-align: left;
}
.notification .description{
    width: 100%;
    font-size: 13px;
    text-align: left;
    color: var(--primary-font-color);
}
.notification button.action{
    width: 100%;
    margin: 5px 0 0 0;
    font-size: 13px;
    cursor: pointer;
    padding: 7px 0;
    border: none;
    transition: border .2s;
    background: var(--tertiary-color);
    color: var(--secondary-font-color);
    border-radius: var(--small-border-radius);
}
.notification button.action:not(:disabled):hover{
    background: var(--tertiary-color-hover);
}