.notification{
    width: 300px;
    bottom: 1.5em;
    right: -100%;
    display: flex;
    gap: 3px 0;
    color: var(--font-color);
    flex-direction: column;
    position: fixed;
    padding: 10px 15px;
    box-shadow: var(--soft-box-shadow);
    border: 2px var(--border-color) solid;
    animation: showNotification .3s forwards;
    border-radius: var(--small-border-radius);
    background-color: var(--theme-primary);
}
@keyframes showNotification{
    from{right: -100%;}
    to{right: 20px;}
}
.notification svg.infoIcon{
    top: -12px;
    left: -12px;
    background-color: var(--theme-primary);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    fill: var(--primary-color);
    position: absolute;
}
.notification .close{
    top: 5px;
    right: 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: none;
    position: absolute;
}
.notification .close svg{
    fill: var(--font-color);
}
.notification .title{
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
}
.notification .description{
    width: 100%;
    font-size: .9em;
    text-align: left;
    color: var(--font-color);
}