.analytics{
    display: flex;
    gap: 7px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.toggleAnalyticsVisibility{
    font-size: 13px;
    cursor: pointer;
    padding: 6px 16px;
    color: var(--secondary-font-color);
    background: var(--primary-color);
    border: 3px solid rgb(var(--primary-theme-color));
    transition: border .2s;
    border-radius: var(--small-border-radius);
}
.toggleAnalyticsVisibility:not(:disabled):hover{
    border: 3px solid var(--tertiary-color);
    background: var(--primary-color-hover);
}
.toggleAnalyticsVisibility:disabled{
    cursor: default;
    background: var(--button-disabled-color);
}

.charts{
    width: 100%;
    height: 160px;
    display: flex;
    padding: 10px;
    overflow: hidden;
    max-width: 550px;
    background: var(--primary-gray-color);
    border-radius: var(--small-border-radius);
}
.chart{
    width: 100%;
    height: 100%;
}