.calibration-pointer-events-wrapper{
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    min-height: 100%;
    position: absolute;
    background: #1212128c;
}

.calibration{
    top: 20vh;
    left: 50%;
    gap: 15px 0;
    display: flex;
    position: absolute;
    padding: 15px 25px;
    background: #fff;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    justify-content: center;
    background-color: rgba(var(--primary-theme-color), 0.953);
    transform: translateX(-50%);
    color: var(--primary-font-color);
    border-radius: var(--small-border-radius);
}
.calibration p{
    margin: 0;
    font-size: 14px;
}

.calibration .buttons{
    width: 100%;
    display: flex;
    gap: 0 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.calibration .buttons button{
    font-size: 14px;
    cursor: pointer;
    padding: 8px 16px;
    transition: border .2s;
    color: var(--secondary-font-color);
    background: var(--primary-color);
    border-radius: var(--small-border-radius);
    border: 3px solid rgb(var(--primary-theme-color));
}
.calibration .buttons button.calibrate:not(:disabled):hover{
    border: 3px solid var(--tertiary-color);
    background: var(--primary-color-hover);
}
.calibration .buttons button.calibrate:disabled{
    cursor: default;
    background: var(--button-disabled-color);
}
/* Cancel button */
.calibration .buttons button.cancel{
    background: var(--decline-primary-color);
}
.calibration .buttons button.cancel:hover{
    border: 3px solid var(--decline-secondary-color);
    background: var(--decline-hover-color);
}